#header {
    background: url(imgs/memeguy.jpg);
    background-size: cover;
    background-position: center;
}

.fireworks {
    background: url(imgs/fireworks-1024x683.jpg);
    background-position: center 302px;
    height: 100vh;
}

.content {
    padding-top: 50%;
    color: white;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.meme {
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: Impact; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 17.6px;
    text-transform: uppercase;
    text-shadow: 2.5px  2.5px black,
                -2.5px -2.5px black,
                 2.5px -2.5px black,
                -2.5px  2.5px black;
}

.meme-top {
    position: absolute;
    top: 0;
    right: 0;
}

.meme-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}